*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

h1{
    animation: fromRight .7s .3s backwards;
    color: #FDD000;
}

h2{
    animation: fromLeft .7s .3s backwards;
}

.highlight_text{
    color: #FDD000;
}

body{  
    font-family: 'Montserrat', sans-serif; 
}

.container{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #202225; 
}

header, main, footer{
    width: 98%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

header{
    height: 8vh;
    background-color: black;
}

div{
    display: flex;
    align-items: center;
}

section{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-logo{
    width: 30%;
    height: 100%;
    justify-content: center;
}

.header-logo > img{
    height: 80%;
}

header > .header-options{
    width: 70%;
    height: 100%;
    justify-content: flex-end;
}

main{
    flex-direction: column;
}

.home h1, .home h2{
    position: relative;
    z-index: 1;
}

.home{
    position: relative;
    background-color: #202225;
    }
    
.home:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(./assets/home.jpg);
    background-repeat: no-repeat;
    opacity: 0.05;
    z-index: 0;
}

.home > article > button{
    border: 2px solid #FDD000;
    background-color: #202225;
    color: #FDD000;
    font-size: 16px;
    font-weight: 700;
    width: 160px;
    height: 40px;
    box-shadow: 4px 4px 1px #4D5159;
}

/* .home > article > button:hover{
    cursor: pointer;
    border: none;
    background-color: #FDD000;
    color: #202225;
    box-shadow: none;
} */

.about{
    background-color: #2F3136;
}

.about > article{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: fromLeft .7s .2s backwards;
}

.about > article > img{
    width: 90%;
    border: 4px solid #FDD000;;
}

.about-box > button{
    
    background-color: #FDD000;
    color: #2F3136;
    /* border: 4px solid #FDD000; */
    border: none;
    
    /* border-radius: 12px; */
}

.about-box > button:hover{
    cursor: pointer;
    /* color: white;
    background-color: #2F3136; */
    box-shadow: 4px 4px 1px #4D5159;
    opacity: 0.8;
}

.training{
    flex-direction: column;
    background-color: #2F3136;
}

.training > article:first-child{
    height: 30%;
}

.training > article:last-child{
    height: 70%;
}

.card-training{
    width: 100%;
    height: 20vh;
    background-color: #FDD000;
    margin-bottom: 2vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #202225;
}

.students{
    flex-direction: column;
    margin-bottom: 12vh;   
    background-color: #2F3136;
}

.training-title, .students-title{
    height: 30%;
    width: 100%;
    margin-bottom: 4vh;  
}

.training-box, .students-box{
  height: 70%;  
  width: 100%;
}

.students-box{
    height: 70%;  
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px
}

.card-student{
    width: 80%;
    max-width: 350px;
    height: 300px;
    background-color: #4D5159;
    border-radius: 16px 0 16px 0;
    display: flex;
    flex-direction: column;
    padding: 12px;
}

footer{
    flex-direction: column;
    margin-bottom: 8vh;
}

footer >  p {
    margin-bottom: 2vh;
}

@media screen and (min-device-width: 800px){

    h1{
        font-size: 108px;
    }

    h2{
        font-size: 40px;
    }

    header{
        background-color: #202225;
    }

    header, main, footer{
        width: 100%;
    }

    .home:before {
        background-image: url(./assets/fundohomePage.png);
        background-position: center left;
        background-size: 50% auto;
    }

    .home {
        justify-content: center;
        padding-left: 8vw;
    }

    .home > article > h2 {
        font-size: 60px;
    }

    .home > div{
        position: fixed;
        right: 2%;
        top: 40;
        display: flex;
        flex-direction: column;
        gap: 2vh;
    }

    .home > div > span > img {
        width: 30px;
    }

    .home > div > span > img:hover {
        cursor: pointer;
    }

    .about-box > button{
        width: 34vw;
        height: 6vh;
        font-size: 18px;
        font-weight: 600;
    }
    
    .options-menu-close{
        list-style: none;
        display: flex;
        justify-content: space-evenly;
        text-align: center;
        gap: 2vh;
        width: 80%;   
    }

    .options-menu-close > li:hover{
        cursor: pointer;
        color: #FDD000;
    }

    .options-menu-hamburguer{
        display: none;
    }

    .about{
        align-items: flex-start;
        padding-top: 8vh;
    }

    .about > article {
        height: 100%;
        width: 50%;
    }

    .about-box{ 
        padding-left: 8vw;
    }

    .about > article > img{
        width: 60%;
    }

    .training{
        justify-content: flex-start;
        height: 70vh;
    }

    .training-title, .students-title{
        text-align: center;
        padding-top: 8vh;
    }

    .training-box, .students-box{
        display: flex;
        justify-content: space-evenly;
    }

    .card-training{
        width: 30%;
        padding: 0 2vw 0 2vw;
        border-radius: 8px;
    }

    .students{
        height: 80vh;
    }

}

@media screen and (min-device-width: 500px) and (max-device-width: 800px){

    h1{
        font-size: 68px;
    }

    h2{
        font-size: 30px;
    }

    .options-menu-close{
        display: none;
    }
    
    .options-menu-open{
        list-style: none;
        position: absolute;
        font-size: 24px;
        padding: 4vh;
        z-index: 2;
        top: 70px;
        right: 0;
        background-color: #4D5159;
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 2vh;
        width: 80%;      
    }

    header, main, footer{
        width: 100%;
    }

    .home:before {
        background-image: url(./assets/backgroundhome.jpg);
        background-position: top right;
        background-size: 100% auto;
    }

    .home {
        justify-content: flex-start;
        padding-left: 8vw;
        height: 80vh;
    }

    .home > article > h2 {
        font-size: 60px;
    }

    .about{
        align-items: flex-start;
        padding-top: 8vh;
        height: 70vh;
    }

    .about-box > button{
        width: 94%;
        height: 6vh;
        font-size: 14px;
        font-weight: 800;
        border: none;
        background-color: #FDD000;
        color: #2F3136;
    }

    .about > article {
        height: 100%;
        width: 50%;
    }

    .about-box{ 
        padding-left: 8vw;
    }

    .about > article > img{
        width: 100%;
    }

    .training{
        justify-content: flex-start;
        height: 60vh;
    }

    .training-title, .students-title{
        text-align: center;
        padding-top: 8vh;
    }

    .training-box, .students-box{
        display: flex;
        justify-content: space-evenly;
    }

    .card-training{
        width: 30%;
        padding: 0 2vw 0 2vw;
        border-radius: 8px;
    }

    .students{
        height: 60vh;
    }
    
}

@media screen and (max-device-width: 500px) {

    h1{
        font-size: 68px;
    }

    h2{
        font-size: 30px;
    }

    .options-menu-close{
        display: none;
    }
    
    .options-menu-open{
        list-style: none;
        position: absolute;
        font-size: 24px;
        padding: 4vh;
        z-index: 2;
        top: 70px;
        right: 0;
        background-color: #4D5159;
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 2vh;
        width: 80%;      
    }
    
    main{
        flex-direction: column;
    }
    
    .home h1, .home h2{
        position: relative;
        z-index: 1;
    }
    
    .home{
        position: relative;
        background-color: #202225;
        }
        
    .home:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url(./assets/home.jpg);
        background-position: top center;
        background-size: 200% auto;
        background-repeat: no-repeat;
        opacity: 0.1;
        z-index: 0;
    }
    
    .about{
        flex-direction: column;
        background-color: #2F3136;
    }
    
    .about > article{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        animation: fromLeft .7s .2s backwards;
    }
    
    .about > article > img{
        width: 90%;
        border: 4px solid #FDD000;;
    }

    .about-box > button{
        background-color: #FDD000;
        color: #2F3136;
        width: 90%;
        height: 6vh;
        border: none;
        border-radius: 12px;
        font-size: 16px;
        font-weight: 600;
        margin-bottom: 4vh;
    }
    
    .training{
        flex-direction: column;
    }
       
    .card-training:hover{
        cursor: pointer;
        background-color: #FDD000;
        color: #202225;
    }
    
    .card-training{
        width: 100%;
        height: 20vh;
        background-color: #FDD000;
        margin-bottom: 2vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        color: #202225;
    }
    
    .students{
        flex-direction: column;
        margin-bottom: 12vh;   
        padding-bottom: 4vh;
    }
    
    .training-title, .students-title{
        height: 30%;
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    
    .training-box, .students-box{
      height: 70%;  
      width: 100%;
    }
     
    .students-box{
        height: 70%;  
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 12px
    }
    
    .card-student{
        width: 80%;
        max-width: 350px;
        height: 300px;
        background-color: #4D5159;
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        padding: 12px;
    }
    
    footer{
        flex-direction: column;
        margin-bottom: 8vh;
    }
    
    footer > .map{
        width: 100%;
    }
    
    footer >  p {
        margin-bottom: 2vh;
    }   
}

@keyframes fromLeft{
    from{
        opacity: 0;
        transform: translateX(-30px);
    }

    to{
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fromRight{
    from{
        opacity: 0;
        transform: translateX(30px);
    }

    to{
        opacity: 1;
        transform: translateX(0);
    }
}