*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
    color: white;
}

h1{
    animation: fromRight .7s .3s backwards;
    color: #FDD000;
}

h2{
    animation: fromLeft .7s .3s backwards;
}

.highlight_text{
    color: #FDD000;
}

body{  
    font-family: 'Montserrat', sans-serif; 
}

.container{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #202225; 
}

header, main, footer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

header{
    height: 8vh;
}

div{
    display: flex;
    align-items: center;
}

section{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-logo{
    width: 30%;
    height: 100%;
    justify-content: center;
}

.header-logo > img{
    height: 80%;
}

header > .header-options{
    width: 70%;
    height: 100%;
    justify-content: flex-end;
}

main{
    flex-direction: column;
}

.home h1, .home h2{
    position: relative;
    z-index: 1;
}

.home{
    position: relative;
    background-color: #202225;
    height: 100vh;
}
    
.home:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(./assets/fundohomePage.png);
    background-size: 800px auto;
    background-repeat: no-repeat;
    background-position: bottom left;
    opacity: 0.5;
    z-index: 0;
}

.home > div{
    position: fixed;
    right: 2%;
    top: 40;
    flex-direction: column;
    gap: 2vh;
}

.home > div > span > img:hover {
    cursor: pointer;
}

.home > article > button{
    border: 2px solid #FDD000;
    background-color: #202225;
    color: #FDD000;
    font-size: 16px;
    font-weight: 700;
    width: 160px;
    height: 40px;
    box-shadow: 4px 4px 1px #4D5159;
    z-index: 3;
}

.about{
    background-color: #2F3136;
}

.about > article{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: fromLeft .7s .2s backwards;
}

.about > article > img{
    width: 90%;
    border: 4px solid #FDD000;;
}

.about-box > button{  
    background-color: #FDD000;
    color: #2F3136;
    border: none;
    transition: opacity .3s;
    transition: box-shadow .5s;
}

.about-box > button:hover{
    cursor: pointer;
    box-shadow: 4px 4px 1px #4D5159;
    opacity: 0.8;
}

.training{
    flex-direction: column;
    background-color: #2F3136;
}

.card-training{
    width: 100%;
    height: 20vh;
    background-color: #FDD000;
    margin-bottom: 2vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #202225;
}

.training-title, .students-title{
    height: 30%;
    width: 100%;
    margin-bottom: 4vh;  
}

.training-box, .students-box{
  height: 70%;  
  width: 100%;
}

.photo-album{
    background-color: #2F3136;
}

.photo-album > article{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

.photo-album > article > div{
    width:360px;
    height: 450px;
    background-color: #FDD000;
}

.photo-album > article > div > img{
    width: 100%;
    transition: opacity .3s;
}

.photo-album > article > div > img:hover{
    opacity: 0.5;
}

.students{
    flex-direction: column;
    margin-bottom: 12vh;   
    background-color: #2F3136;
}

.students-box{
    height: 70%;  
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px
}

.card-student{
    width: 80%;
    max-width: 350px;
    height: 300px;
    background-color: #4D5159;
    border-radius: 16px 0 16px 0;
    display: flex;
    flex-direction: column;
    padding: 12px;
}

footer{
    flex-direction: column;
    margin-bottom: 8vh;
}

footer >  p {
    margin-bottom: 2vh;
}

@media screen and (min-device-width: 800px){

    h1{
        font-size: 108px;
    }

    h2{
        font-size: 40px;
    }

    .options-menu-close{
        list-style: none;
        display: flex;
        justify-content: space-evenly;
        text-align: center;
        gap: 2vh;
        width: 80%;   
        transition: color .3s;
    }

    .options-menu-close > li > a:hover{
        cursor: pointer;
        color: #FDD000;
    }

    .options-menu-hamburguer{
        display: none;
    }

    .home {
        justify-content: center;
        padding-left: 8vw;
    }

    .home > article > h2 {
        font-size: 60px;
    }

    .home > div > span > img {
        width: 30px;
    }

    .about-box > button{
        width: 34vw;
        height: 6vh;
        font-size: 18px;
        font-weight: 600;
    }
    
    .about{
        align-items: flex-start;
        padding-top: 8vh;
    }

    .about > article {
        height: 100%;
        width: 50%;
    }

    .about-box{ 
        padding-left: 8vw;
    }

    .about > article > img{
        width: 60%;
    }

    .training{
        justify-content: flex-start;
        height: 70vh;
    }

    .training-title, .students-title{
        text-align: center;
        padding-top: 8vh;
    }

    .training-box, .students-box{
        display: flex;
        justify-content: space-evenly;
    }

    .card-training{
        width: 30%;
        padding: 0 2vw 0 2vw;
        border-radius: 8px;
    }

    .students{
        height: 80vh;
    }

}

@media screen and (min-device-width: 500px) and (max-device-width: 800px){

    h1{
        font-size: 68px;
    }

    h2{
        font-size: 40px;
    }

    .options-menu-close{
        display: none;
    }
    
    .options-menu-open{
        list-style: none;
        position: absolute;
        font-size: 24px;
        padding: 4vh;
        z-index: 2;
        top: 70px;
        right: 0;
        background-color: #4D5159;
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 2vh;
        width: 80%;      
    }

    .home {
        justify-content: flex-end;
    }

    .home:before{
        background-size: 700px auto;
    }

    .home > div {
        top: 10%;
    }

    .home > div > span > img{
        width: 28px;
    }

    .home > article > h2 {
        font-size: 30px;
    }

    .about{
        align-items: flex-start;
        padding-top: 8vh;
        height: 70vh;
    }

    .about > article {
        height: 100%;
        width: 50%;
    }

    .about > article > img{
        width: 100%;
    }

    .about-box{ 
        padding-left: 8vw;
    }

    .about-box > button{
        width: 94%;
        height: 6vh;
        font-size: 14px;
        font-weight: 800;
    }

    .training{
        justify-content: flex-start;
        height: 60vh;
    }

    .training-title, .students-title{
        text-align: center;
        padding-top: 8vh;
    }

    .training-box, .students-box{
        display: flex;
        justify-content: space-evenly;
    }

    .card-training{
        width: 30%;
        padding: 0 2vw 0 2vw;
        border-radius: 8px;
    }

    .students{
        height: 60vh;
    }
    
}

@media screen and (max-device-width: 500px) {

    h1{
        font-size: 68px;
    }

    h2{
        font-size: 30px;
    }

    section{
        padding: 4vh 0 4vh 0;
    }

    header, main, footer{
        width: 98%;
    }

    .options-menu-close{
        display: none;
    }
    
    .options-menu-open{
        list-style: none;
        position: absolute;
        font-size: 24px;
        padding: 4vh;
        z-index: 2;
        top: 70px;
        right: 0;
        background-color: #4D5159;
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 2vh;
        width: 80%;      
    }
     
    .home:before {
        background-position: bottom left;
        opacity: 0.2;
    }

    .home > div{
        display: none;
    }
    
    .about{
        flex-direction: column;
        background-color: #2F3136;
    }

    .about-box > button{
        width: 90%;
        height: 6vh;
        font-size: 16px;
        font-weight: 600;
        margin-bottom: 4vh;
    }
    
    .training-title, .students-title{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
     
    .students-box{
        flex-direction: column;
    }
    
    footer > .map{
        width: 100%;
    }  
}

@keyframes fromLeft{
    from{
        opacity: 0;
        transform: translateX(-30px);
    }

    to{
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fromRight{
    from{
        opacity: 0;
        transform: translateX(30px);
    }

    to{
        opacity: 1;
        transform: translateX(0);
    }
}